/* CSS Document */

.leftColumn
{
	margin-right:300px;
	overflow:scroll;
}

.rightColumn
{
	margin-left:20px;
	float:right;
	width:300px;	
	background-color:#FFF;
}

.dailyTableContainer
{
	position:relative;
	height:780px;
	width:90%;
	background-color:#FFF;
}

#left_disclosure,
#right_disclosure
{
	position:absolute;
	z-index:400;	
}

.splitter div
{
	margin-top:5px;
}

.splitter
{
	z-index:50;
	position:absolute;
	border-bottom:1px dotted #666;
	width:100%;
	left:0px;	
	height:30px !important;
	font-size:8px;
	color:#666;	
	text-align:left;
	padding-left:20px;
}

.dateLabel
{
	position:absolute;
	top:10px;
	color:#CCC;
	font-size:11px;	
}

.dailyTable,
.dailyTable tr,
.dailyTable tr td,
.dailyTableContainer
{
	padding:0px;
	spacing:0px;
}

.dailyAgendaEntry
{
	font-size:11px;
	position:absolute;
	width:300px;
	border:1px solid #000;
	left:100px;
	
	background: #09F;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #09F, #06F);
	background-image: -ms-linear-gradient(top, #09F, #06F);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#09F), to(#06F));
	background-image: -webkit-linear-gradient(top, #09F, #06F);
	background-image: -o-linear-gradient(top, #09F, #06F);
	background-image: linear-gradient(top, #09F, #06F);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin-bottom: 18px;
	padding: 7px 14px;
	color: #FFF;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.courseSchedule .deleteLink,
.courseSchedule .editLink
{
	vertical-align:middle;
	display:block;
	float:right;	
}
.editLink
{
}

.courseSchedule
{
	z-index:100;
	font-size:11px;
	position:absolute;
	border:1px solid #000;
	margin-bottom: 18px;
	padding: 7px 14px;
	padding-right:5px;
	
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	border: 1px solid rgba(0, 0, 0, 0.2);
	color: #FFF;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
.clickable
{
	cursor:pointer;
}

.dailyColumn
{
	z-index:-100;	
}

.addLink
{
	background-color:#FFF;
	display:block;
	position:absolute;
	top:55px;
	left:10px;
	z-index:1000;
}

.agendaEntry
{
	z-index:200;
	background: #09F;
	background-image: -moz-linear-gradient(top, #09F, #06F);
	background-image: -ms-linear-gradient(top, #09F, #06F);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#09F), to(#06F));
	background-image: -webkit-linear-gradient(top, #09F, #06F);
	background-image: -o-linear-gradient(top, #09F, #06F);
	background-image: linear-gradient(top, #09F, #06F);
}
.agendaTileGrey
{
	background: #CCC;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #CCC, #AAA);
	background-image: -ms-linear-gradient(top, #CCC, #AAA);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#CCC), to(#AAA));
	background-image: -webkit-linear-gradient(top, #CCC, #AAA);
	background-image: -o-linear-gradient(top, #CCC, #AAA);
	background-image: linear-gradient(top, #CCC, #AAA);	
}

.dailyColumn
{	
}
.agendaTileBlueLight
{
	background: #0CF;
	background-image: -moz-linear-gradient(top, #0CF, #09F);
	background-image: -ms-linear-gradient(top, #0CF, #09F);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#0CF), to(#09F));
	background-image: -webkit-linear-gradient(top, #0CF, #09F);
	background-image: -o-linear-gradient(top, #0CF, #09F);
	background-image: linear-gradient(top, #0CF, #09F);
}
.agendaTileBlue
{
	background: #09F;
	background-image: -moz-linear-gradient(top, #09F, #06F);
	background-image: -ms-linear-gradient(top, #09F, #06F);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#09F), to(#06F));
	background-image: -webkit-linear-gradient(top, #09F, #06F);
	background-image: -o-linear-gradient(top, #09F, #06F);
	background-image: linear-gradient(top, #09F, #06F);
}
.agendaTileDarkBlue
{
	background: #06F;
	background-image: -moz-linear-gradient(top, #06F, #04F);
	background-image: -ms-linear-gradient(top, #06F, #04F);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#06F), to(#04F));
	background-image: -webkit-linear-gradient(top, #06F, #04F);
	background-image: -o-linear-gradient(top, #06F, #04F);
	background-image: linear-gradient(top, #06F, #04F);
}
.agendaTileGreenLight
{
	background: #2C2;
	background-image: -moz-linear-gradient(top, #2C2, #292);
	background-image: -ms-linear-gradient(top, #2C2, #292);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2C2), to(#292));
	background-image: -webkit-linear-gradient(top, #2C2, #292);
	background-image: -o-linear-gradient(top, #2C2, #292);
	background-image: linear-gradient(top, #2C2, #292);
}
.agendaTileGreen
{
	background: #292;
	background-image: -moz-linear-gradient(top, #292, #282);
	background-image: -ms-linear-gradient(top, #292, #282);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#292), to(#282));
	background-image: -webkit-linear-gradient(top, #292, #282);
	background-image: -o-linear-gradient(top, #292, #282);
	background-image: linear-gradient(top, #292, #282);
}
.agendaTileDarkGreen
{
	
	background: #282;
	background-image: -moz-linear-gradient(top, #282, #252);
	background-image: -ms-linear-gradient(top, #282, #252);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#282), to(#252));
	background-image: -webkit-linear-gradient(top, #282, #252);
	background-image: -o-linear-gradient(top, #282, #252);
	background-image: linear-gradient(top, #282, #252);
}

.agendaTilePurpleLight
{
	background: #98F;
	background-image: -moz-linear-gradient(top, #98F, #95F);
	background-image: -ms-linear-gradient(top, #98F, #95F);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#98F), to(#95F));
	background-image: -webkit-linear-gradient(top, #98F, #95F);
	background-image: -o-linear-gradient(top, #98F, #95F);
	background-image: linear-gradient(top, #98F, #95F);
}
.agendaTilePurple
{
	background: #96F;
	background-image: -moz-linear-gradient(top, #96F, #93F);
	background-image: -ms-linear-gradient(top, #96F, #93F);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#96F), to(#93F));
	background-image: -webkit-linear-gradient(top, #96F, #93F);
	background-image: -o-linear-gradient(top, #96F, #93F);
	background-image: linear-gradient(top, #96F, #93F);
}
.agendaTileDarkPurple
{
	
	background: #93F;
	background-image: -moz-linear-gradient(top, #93F, #90F);
	background-image: -ms-linear-gradient(top, #93F, #90F);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#93F), to(#90F));
	background-image: -webkit-linear-gradient(top, #93F, #90F);
	background-image: -o-linear-gradient(top, #93F, #90F);
	background-image: linear-gradient(top, #93F, #90F);
}
